@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



.app {
  font-family: 'Inter', sans-serif;
  margin-bottom: 2%;
}

.totaldiv h4 {
  margin-bottom: 1rem;
}

.filtering select {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Ensure table data does not wrap */
}

tbody {
  display: block;
  max-height: 200px;
  overflow-y: auto;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
  border-radius: 0.375rem;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  background: none;
  border: none;
}

tbody tr:hover {background-color: #D6EEEE;}
@media (max-width: 640px) {
  .totaldiv h4 {
    font-size: 0.875rem; /* Reduce font size on small screens */
  }
  .table-responsive td,
  .table-responsive th {
    font-size: 0.75rem; /* Adjust font size for smaller screens */
    padding: 0.5rem;    /* Adjust padding for smaller screens */
  }
}
